#profile, #trabalhos{
    height: 90vh;
}
body{
 margin: 0;
}
header{
    background-color: #190933;
    height: 10vh;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}
header li{
    float: left;
}
header ul{
    float: right;
    padding: 3vh;
    margin-top: 0;
    list-style-type: none;
}
li a{
    display: block;
    text-decoration: none;
    /* height: 10vh; */
    text-decoration: none;
    text-align: center;
    font-size: 3vh;
    padding: 5px;
    background-color: #190933;
    border-left: #fff solid 1px;
    color: #fff;
    transition: font-size 2s;
}
li a:last-child{
    border-right: #fff solid 1px;
}
li a:hover{
    font-size: 4vh;
color: #b084cc;}